language: php

sudo: false

matrix:
  include:
    - php: 5.5.9
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: hhvm-3.6
      sudo: required
      dist: trusty
      group: edge
    - php: hhvm-3.9
      sudo: required
      dist: trusty
      group: edge
    - php: hhvm-3.12
      sudo: required
      dist: trusty
      group: edge

before_install:
  - if [[ $TRAVIS_PHP_VERSION =~ ^hhvm ]]; then echo 'hhvm.jit = false' >> /etc/hhvm/php.ini ; fi

install:
  - if [[ $TRAVIS_PHP_VERSION == 5.5.9 ]]; then travis_retry composer update --no-interaction --prefer-source --prefer-lowest ; fi
  - if [[ $TRAVIS_PHP_VERSION != 5.5.9 ]]; then travis_retry composer update --no-interaction --prefer-source ; fi

script:
  - make test
